<span class="label label-<%= comment_given?(student, @assignment) ? 'success' : 'warning' %>"
      id="span_comment_student_<%= student.id %>_assignment_<%= @assignment.id %>"
      data-toggle="popover"
      title="Bewertung"
      data-placement="left"
      data-html="true"
      data-content='<%= render partial: 'courses/assignments/tests/partials/comment_popover', locals: {course: @course, student: student, assignment: @assignment} %>'>Kommentar verfassen</span>
